## Домашнее задание

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [1]:
import pandas as pd

In [2]:
table =  pd.read_csv('ml-latest-small/ratings.csv')
table_1=table.where(table['rating']==5).groupby('movieId').count().sort_values('rating', ascending=False).head()
movies = pd.read_csv('ml-latest-small/movies.csv')
table_2=table_1.merge(movies, on='movieId', how='left')
table_2[['movieId', 'rating']].head(1)

   movieId  rating
0    318.0     153

In [21]:
import pandas as pd
tabl = pd.read_csv('power.csv')
filtr_country =tabl[(tabl['country']=='Latvia')|(tabl['country']=='Lithuania')|(tabl['country']=='Estonia')]
filtr_country_year = filtr_country[(filtr_country.year>=2005)&(filtr_country.year<=2010)]
filtr_country_cat = filtr_country_year[(filtr_country.category==21)|(filtr_country.category==4)|(filtr_country.category==12)]
sum_quantity = filtr_country_cat[filtr_country_cat.quantity>0]
total = sum_quantity['quantity'].sum()
total

<ipython-input-21-8603c441a528>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtr_country_cat = filtr_country_year[(filtr_country.category==21)|(filtr_country.category==4)|(filtr_country.category==12)]

240580.0

In [24]:
import pandas as pd
pd.read_html('https://fortrader.org/currencyrates', encoding='utf-8')

[    Код  Количество                 Название       RUB  Изменение
 0   USD           1               Доллар США   73.4580    -0.0157
 1   EUR           1                     Евро   89.6555    -0.2837
 2   CNY           1           Китайский юань   11.5208     0.0326
 3   GBP           1          Фунт стерлингов  103.8549    -0.0957
 4   TJS          10        Таджикский сомони   64.4086    -0.0138
 5   KZT         100      Казахстанский тенге   17.1289    -0.0457
 6   TRY          10            Турецкая лира   87.1491     0.1722
 7   PLN           1          Польский злотый   19.9479    -0.1006
 8   UAH          10        Украинская гривна   26.7026     0.0371
 9   BYN           1        Белорусский рубль   29.1269    -0.1899
 10  UZS       10000            Узбекский сум   69.2353    -0.0694
 11  KGS         100           Киргизский сом   88.4606     0.2344
 12  AMD         100           Армянский драм   14.1081    -0.0065
 13  JPY         100            Японская иена   67.3525    -0.1506
 14  CHF           1        Швейцарский франк   81.9569    -0.1183
 15  CZK          10            Чешская крона   35.2553    -0.0499
 16  CAD           1         Канадский доллар   60.6840    -0.1587
 17  AZN           1    Азербайджанский манат   43.2360    -0.0093
 18  KRW        1000     Вон Республики Корея   65.7987     0.0201
 19  SEK          10           Шведская крона   88.5474    -0.1086
 20  INR          10          Индийская рупия   10.1140     0.0051
 21  HUF         100        Венгерский форинт   25.7224    -0.0109
 22  NOK          10         Норвежская крона   87.9989    -0.3438
 23  AUD           1     Австралийский доллар   56.9667    -0.2179
 24  BGN           1           Болгарский лев   45.8625    -0.1391
 25  MDL          10           Молдавский лей   41.7256    -0.0327
 26  DKK           1            Датская крона   12.0631    -0.0353
 27  SGD           1      Сингапурский доллар   55.5238    -0.0077
 28  RON           1            Румынский лей   18.2409    -0.0275
 29  BRL           1         Бразильский реал   13.8284     0.0489
 30  TMT           1  Новый туркменский манат   21.0180    -0.0045
 31  XDR           1                      СДР  106.2504     0.0008
 32  ZAR          10     Южноафриканский рэнд   53.6734     0.5621]